span h1{
    background-color:  #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}
.flex-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin:16px;
}
.left{
    width:76%;
}
.right{
    width:24%;
}